.about {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  height: fit-content;
}

.about__container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-md) var(--space-lg);
  // overflow: hidden;

  &__personalWrapper,
  &__serviceWrapper {
    width: 50%;
    height: 100%;
  }

  &__personalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    position: relative;

    h3 {
      color: var(--color-dark-1);
      font-weight: 700;
      font-size: 1.5rem;
    }

    p {
      margin: var(--space-sm) 0;
    }

    ul > li {
      color: var(--color-dark-1);
      display: flex;
      gap: 1rem;
      width: 100%;

      span.title {
        font-weight: 800;
        min-width: 100px;
      }

      span.value {
        flex-grow: 1;
      }
    }
  }

  &__serviceWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 225px;
      height: 225px;
      background: radial-gradient(200px, var(--color-light-5), transparent 70%);
      border-radius: 50%;
      position: relative;
      animation: rotation 10s linear 1s infinite;

      div {
        width: 50px; // adjust size as needed
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translate(-50%, -50%); // default transform center
      }

      div:nth-child(1) {
        position: absolute;
        top: 0%;
        left: 50%;
      }

      div:nth-child(2) {
        top: 50%;
        left: 0%;
        transform: rotate(270deg) translate(50%, -50%);
      }

      div:nth-child(3) {
        top: 50%;
        left: 100%;
      }

      div:nth-child(4) {
        top: 100%;
        left: 50%;
        transform: rotate(180deg) translate(50%, 50%);
      }
    }
  }
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .about__container {
    flex-direction: column;
    &__personalWrapper,
    &__serviceWrapper {
      width: 100%;
    }

    &__serviceWrapper {
      margin-top: var(--space-lg);

      &__content {
        height: 200px;
        width: 200px;
        background: radial-gradient(
          150px,
          var(--color-light-5),
          transparent 70%
        );
      }
    }
  }
}
